*{padding: 0;margin: 0;}

.maincontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 100vh;
    background-color: #F0F2F5;
    
}
h1{
    text-align: center;
}
.subcontainer{
    
    width: 30%;
    padding: 6% 1%;
    border: 1px solid white;
    background-color: white;
    border-radius: 20px;
    box-shadow:  -20px 40px 6px rgba(0, 0, 0, 0.05) ;

}
form{
    /* border: 1px solid black; */
    width: 100%;
    text-align: center;
}
#email,#password,.submit,#username,#firstname,
#lastname,#confirmpassword,#phone{
    width: 90%;
    height: 30px;
    margin: 10px 0 0 0;
    border-radius: 20px;
    padding: 10px 10px;
    font-size: 24px;
    text-align: center;
    border: 1px solid #0866FF;


}
.submit{
    height: 40px;
    font-size: larger;
    color: white;
    background-color:#0866FF ;
    border: 1px solid #0866FF;
    text-decoration: none;


}
#submit,#submit0,#submit1{
    color: #0866FF;
    text-decoration: none;
}